@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMMM yyyy}", new { @class = "form-control datepicker", @id = "releaseDate", @dateValue = Model.ReleaseDate.HasValue ? Model.ReleaseDate.Value : DateTime.Today })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genre, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>
        $(document).ready(function () {
            let date = new Date($("#releaseDate").attr("dateValue"));

            $('.datepicker').datepicker({
                dateFormat: "d MM yy",
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0"
            });

            $('.datepicker').datepicker("setDate", date);

        });
    </script>
}